#hint-input-area input {
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding: 6px 14px;

    &.input-error {
        animation: shake 0.3s ease;
        outline: none;
        border-color: #e74c3c;
    }
}

#hint-error {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e74c3c;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    font-size: 0.85rem;
    font-weight: bold;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    animation: slideOutLeft 1s ease;

    &.show {
        opacity: 1;
        animation: slideInRight 0.2s ease;
    }
}

.hint-list {
    counter-reset: hint-counter;
}

.hint-list li {
    &:before {
        counter-increment: hint-counter;
        content: counter(hint-counter) ". ";
    }
}